.DS_Store
data/twitter-huge.json
data/twitter-huge.json.zip
code/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dashboard/node_modules
dashboard/.pnp
dashboard/.pnp.js
dashboard/venv

# testing
dashboard/coverage

# production
dashboard/build
dashboard/out
dashboard/.next

# misc
dashboard/.eslintcache
dashboard/.idea
dashboard/.env
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local

dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
